@import './base.css';

#app {
  margin: 0;
  padding: 30px;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-template-columns: 1fr 1fr;
  }
}

button{
  all: unset;
  text-align: center;
  border: 1.5px solid var(--color-text);
  transition: 0.8s;
  padding: 0 5px;
}
button:hover{
  background: white;
  color: black;
  transition: 0.8s;
}
input[type="text"]{
  all: unset;
  background: none;
  border: 1.25px solid var(--color-text);
}

h1{
  font-size: 36px;
}

.v-toast{
  text-align: center;
}